.bg-index {
  background-color: #f05123;
}

.text-index {
  color: #f05123;
}

.bg-index2 {
  background-color: #181821;
}

.text-white-index {
  color: rgb(172, 172, 172);
}

ul.list-unstyled li {
  padding-bottom: 15px;
}

ul.list-unstyled li a {
  text-decoration: none;
  color: rgb(172, 172, 172);
}

ul.list-unstyled li a:hover {
  color: rgb(221, 220, 220);
}

#toTop {
  z-index: 10;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: none;
  text-indent: 100%;
  background: url(../images/icon/top_move.png) no-repeat right top;
}

section#navigation {
  position: sticky;
  top: 0;
  z-index: 3;
}

/* Slideshow container */
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

